@import url('https://fonts.googleapis.com/css?family=Quicksand');



body {
    background-color: #ffffff;
    margin: 0;
    font-family: Quicksand, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

header div {
    background-color: #2e2e2e;
    color: #d1ca6f;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div p {
    font-size: 1.3rem;
}

header p {
    margin: 0;
}

header>p {
    color: #2e2e2e;
    font-size: 5rem;
    font-weight: 700;
    margin-left: 1rem;
    line-height: 5rem;
}

footer {
    background-color: #2e2e2e;
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconic-property-stroke,
.iconic-property-fill {
    stroke: #d1ca6f;
}


/*************     function     *************/

.hidden {
    display: none !important;
}

.hide {
    transform: translateY(1000px);
    transition: all 0.7s linear;
}

.rotate {
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/*************  Card  ****************/

#playList {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 4rem;
    bottom: 4rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

#playList::-webkit-scrollbar {
    display: none;
}

.musicCard {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.7rem 0;
    border-bottom: 1px solid #f4f4f4
}

.musicCard section {
    background-color: #2e2e2e;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    justify-content: center;
}

.musicCard img {
    align-self: center;
    height: 60%;
}

.musicCard>div {
    margin: 0 1rem;
    align-self: center;
    flex-grow: 8
}

.title {
    margin: 0;
    font-size: 1rem;
    color: #2e2e2e;
    align-self: center;

}

.artist {
    margin: 0;
    margin-top: 0.3rem;
    font-size: 0.7rem;
    color: #999;
}

.musicCard .time {
    color: #999;
    font-size: 1rem;
    align-self: flex-start;
    text-align: right;
    flex-grow: 1;
    margin: 0;
    padding-top: 0.24rem;
}


/*************    footer player bar    *************/



footer .PPD {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 1rem;
}

#openPlayer {
    width: 1.5rem;
    transform: rotate(-90deg);
    margin-left: 1.5rem;
}

#footerTitle {
    color: #fff;
}


/*************    player    *************/


#bigPlayer {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    transition: all 0.3s linear;
}

#playerHeader {
    /* background-color: #2e2e2e; */
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerHeader #closePlayer {
    width: 1.5rem;
    transform: rotate(90deg);
    margin: 0.3rem 0 0 1.5rem;
}

#playerHeader #vol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #d1ca6f;
    margin-top: 1.4rem;
    /* background-color: #2e2e2e; */
}

#playerHeader #vol>span{
    /* background-color: #2e2e2e; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem 0 0;
}

#playerHeader #vol>span span{
   position: relative;
   bottom: 0.1rem;
   margin-left: 0.2rem;
}

#playerHeader img {
    width: 1rem;
}

#bigPlayer p {
    text-align: center;
}

#bigPlayer .title {
    font-size: 1.5rem;
}

#bigPlayer .artist {
    font-size: 1rem;
    margin-bottom: 2rem;
}

#overlay {
    background-color: #2e2e2e;
    margin: 8vh auto 1rem;
    width: 60vw;
    height: 60vw;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backImg {
    width: 45%;
    position: relative;
    right: 2vw;
}

#player {
    background-color: #2e2e2e;
    height: 30vh;
    box-shadow: 1px 1px 4px rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#bar {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    width: 80%;
}

#bar p {
    font-size: 0.5rem;
    color: #999;
    margin: auto 0;
}

#bar #startTime {
    text-align: right;
}

.basebar {
    border: none;
    width: 95%;
    height: 4px;
    margin: auto;
    border-radius: 2px;
    background-color: #999;
}

.basebar .progressbar {
    display: block;
    border: none;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: #d1ca6f;
}

#control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 1rem auto 3rem;
}

.nextD {
    width: 2rem;
    height: 2rem;
    background-color: #2e2e2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PPD {
    width: 3rem;
    height: 3rem;
    border: 1px solid #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#last,
#next {
    width: 30%;
}

#last {
    transform: rotate(180deg);
}

.play:active,
.pause:active,
#last:active,
#next:active,
#openPlayer:active {
    opacity: 0.7;
}

.play,
.pause {
    width: 30%;
}

.play {
    position: relative;
    left: 0.1rem;
}